.background{
	-fx-background-color: gray;
	-fx-pref-width: 800px;
	-fx-pref-height: 660px;
}

.menuBtn{
	-fx-pref-width: 300px;
	-fx-pref-height: 40px;
	-fx-font-size: 20px;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 4px;
	-fx-border-radius: 0px;
}

.gameBtn{
	-fx-pref-width: 120px;
	-fx-pref-height: 120px;
	-fx-font-size: 15px;
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 2px;
	-fx-border-radius: 0px;
}

#canvasPane{
	-fx-border-color: black;
	-fx-border-width: 4px;
}